/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root{
    --main-fonts:"Inter-Variable", sans-serif;
    --accent-fonts:"PressStart2P-Regular", system-ui;
    --title-weight:785;
    --text-weight:465;
    --color-background:#000000;
    --accent-color:#00CC14;
    --like-sparks:#FF0000;
    --background-image: repeating-linear-gradient(90deg,#000, #000 2px, transparent 2px, transparent 4px),
     repeating-linear-gradient(180deg,#000, #000 2px, transparent 2px, transparent 4px), linear-gradient(#007f0c 0%, #004306 100%);
}
